.ConfirmPayment {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.payment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.order-details-container,
.payment-details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.square-order {
  width: 100%;
  height: 300px;
  background-color: #D9D9D9;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.square-order:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.confirm-button {
  background-color: #5c5cfd;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.3s ease-out;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.confirm-button:hover {
  background-color: #4a4ae8;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.button-container {
  width: 100%;
  text-align: right;
}

.ConfirmPayment,
.PaymentSuccessful {
  transition: opacity 0.3s ease-out;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}


.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.3s ease;
}

.input:focus {
  box-shadow: 0 0 15px 4px rgba(66, 133, 244, 0.5);
  outline: none;
}

.content-container {
  display: flex;
  justify-content: flex-start;
}

.restaurant-img{
  margin: auto;
  width: 30%;
  height: 100%;
  margin-left: 30px;
  border-radius: 25px;
}

.text-container {
  width: 60%;
}

.payment-square{
  width: 100%;
  height: 230px;
  background-color: #D9D9D9;
  border-radius: 25px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}
.payment-square:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.payment-details-container {
  border-radius: 4px;
}

.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 120px;
}

.input-label {
  margin-bottom: 20px;
  font-weight: bold;
  color: #444;
}
