.ConfirmAddress {
  width: 80%; 
}

.stretch-image {
  width: 90%;
  bottom: 25px;
  border-radius: 20px;
  object-fit: fill; 
}

.CA-bold-text {
  font-weight: bold;
  margin-bottom: 3%;
}
.CA-text{
margin-bottom: 3%;
font-weight: bold;
}

.Address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.personal-details-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.square-details:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.detail-text {
  font-weight: bold;
  font-size: 20px;
}

.address-container {

  display: flex;
}

.address-input {
  width: 51%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 10px;
}

.edit-button {
  background-color: #5c5cfd;
  border: none;
  color: white;
  padding: 12px 20px;  /* Reduced padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;  /* Reduced font size */
  border-radius: 10px;  /* Reduced border radius */
  transition: background-color 0.3s ease;
}
.loc-edit-button {
  width: 120px;
  cursor: pointer;
  background-color: #5c5cfd;
  color: white;
  border: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.edit-button:hover, .confirm-button:hover, .loc-edit-button:hover {
  background-color: #4c4cfd;
}


.CA-button-container{
  display: flex;
  margin-top: 3%;
}

.CA-confirm-button {
  background-color: #5c5cfd;
  border: none;
  color: white;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: auto;
  font-weight: bold;
  
}

.Address {
  transition: transform 1s ease;
}

.Address.slided {
  transform: translateX(-100%);
}

.delivery-container {
  width: 100%;
  padding: 20px;
  background-color: #e4e4e4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
padding: 3%;
  margin-right: 30px;
  margin-top: 3%;
}

.bold-text {
  color: #343a40;
  margin-bottom: 20px;
}


.delivery-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #495057;
}

.delivery-select {
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
margin-right: 20px;
}

.date-time{
  padding: 1%;
}

.head{
  display: flex;
  justify-content: space-between;

}
